In [99]:
import pandas as pd
from matplotlib.widgets import CheckButtons,Slider
import matplotlib.pyplot as plt
import numpy as np
from matplotlib.pyplot import figure

In [100]:
# รับข้อมูล
cols_to_use = ['Character', 'Time']
key = pd.read_csv("E:/PyAverage/2 keys/a15.csv",usecols = cols_to_use)

In [101]:
# ตัด + เรียงข้อมูล 
key = key[key.Time >= 0]
key = key[key.Time <= 10000]
key = key.sort_values(by=['Character'])

In [102]:
# จัดกลุ่มข้อมูล Character และหาค่าเฉลี่ย
means = key.groupby('Character')['Time'].mean()
means = pd.DataFrame(means)
# means

In [103]:
# หา % ค่าเฉลี่ย
Per5 = means['Time'] * 0.05
Per10 = means['Time'] * 0.1
Per15 = means['Time'] * 0.15
Per20 = means['Time'] * 0.2

In [104]:
# สร้างตารางเก็บ % และ ค่าเฉลี่ย
ts = pd.DataFrame()
ts['average'] = means['Time']
ts['5%'] = Per5
ts['+5%'] = ts['average'] + ts['5%']
ts['-5%'] = ts['average'] - ts['5%']

ts['10%'] = Per10
ts['+10%'] = ts['average'] + ts['10%']
ts['-10%'] = ts['average'] - ts['10%']

ts['15%'] = Per15
ts['+15%'] = ts['average'] + ts['15%']
ts['-15%'] = ts['average'] - ts['15%']

ts['20%'] = Per20
ts['+20%'] = ts['average'] + ts['20%']
ts['-20%'] = ts['average'] - ts['20%']
# ts

In [105]:
ch = pd.DataFrame()

ch = ts[(ts.average >= 10000) | (ts.average < 0) |
       (ts['5%'] >= 10000) | (ts['5%'] < 0) |
       (ts['+5%'] >= 10000) | (ts['+5%'] < 0) |
       (ts['-5%'] >= 10000) | (ts['-5%'] < 0) |
       (ts['10%'] >= 10000) | (ts['10%'] < 0) |
       (ts['+10%'] >= 10000) | (ts['+10%'] < 0) |
       (ts['-10%'] >= 10000) | (ts['-10%'] < 0) |
       (ts['15%'] >= 10000) | (ts['15%'] < 0) |
       (ts['+15%'] >= 10000) | (ts['+15%'] < 0) |
       (ts['-15%'] >= 10000) | (ts['-15%'] < 0) |
       (ts['20%']>= 10000) | (ts['20%'] < 0) |
       (ts['+20%'] >= 10000) | (ts['+20%'] < 0) |
       (ts['-20%'] >= 10000) | (ts['-20%'] < 0)]
ch

,average,5%,+5%,-5%,10%,+10%,-10%,15%,+15%,-15%,20%,+20%,-20%
Character,,,,,,,,,,,,,
FN,9647.0,482.35,10129.35,9164.65,964.7,10611.7,8682.3,1447.05,11094.05,8199.95,1929.4,11576.4,7717.6
SR,9230.0,461.50,9691.50,8768.50,923.0,10153.0,8307.0,1384.50,10614.50,7845.50,1846.0,11076.0,7384.0
WY,9602.0,480.10,10082.10,9121.90,960.2,10562.2,8641.8,1440.30,11042.30,8161.70,1920.4,11522.4,7681.6